@media only screen and (max-width : 768px){
    .wrapperList{
        width: 100% !important;
    }
}

.wrapper{
    width: 100%;
}
.wrapper img{
    width: 80%;
    border-radius: 50%;
    object-fit: contain;
}
.wrapper_image{
    display: flex;
    justify-content: center;
}
.wrapper .item{
    width: auto;
    display: flex;
    justify-content: space-around;
    text-align: center;
    cursor: pointer;
}

.wrapperList{
    width: 80%;
    margin: 0 auto;
}
.wrapperList img{
    width: 80%;
    border-radius: 10px;
    object-fit: contain;
}
.wrapperList .wrapper_image{
    display: flex;
    justify-content: center;
}
.wrapperList .item{
    width: auto;
    display: flex;
    justify-content: space-around;
    text-align: center;
    cursor: pointer;
}
