.wrapper{
    width: 50%;
    margin: 0 auto;
}
.wrapper img{
    width: 20%;
    object-fit: contain;
}
.slick{
    width: 100%;
    position: relative;
    cursor: pointer;
    transition: all 2s ease-in ;
}
.slick-center img {
    transform: scale(1.1);
    transition: transform 0.3s ease;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    object-fit: contain;
    filter: contrast(120%) brightness(110%) saturate(120%);
}
.slick:hover .description button{
    border: 2px solid yellow;
}
.slick:hover .backdrop{
    filter: blur(2px);
}
.overlay{
    width: 100%;
    height: 33%;
    background-color: rgba(0, 0, 0, 0.281);
    position: absolute;
    bottom: 0;
    left: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: none;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0);
}
.slick img{
    object-fit: contain;
    border-radius: 10px;
    width: 100%;
}
.slick button:nth-child(1){
    left: 1%;
    z-index: 1000;
}
.slick button:nth-child(3){
    right: 1%;
    z-index: 1000;
}
.item{
    width: 100%;
    position: relative;
    border: none;
    outline: none;
}
.description{
    position: absolute;
    bottom: 0;
    display: flex;
    padding: 2%;
    align-items:end;
    justify-content: space-between;
    gap: 10px;
}
.description button{
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    background-color: transparent;

}
.description button img{
    width: 30px;
    filter: drop-shadow(1px 1px 1px rgba(143, 12, 12, 0.575));
}
.description img{
    width: 25%;
    filter: contrast(120%) brightness(110%) saturate(120%);
}
.title{
    min-width: 80%;
    line-height: 1px;
    display: flex;
    align-items: center;
    gap: 10px;
}
.title .name{
    font-size: 2rem;
}
.title .trailer{
    font-size: 1.2rem;
}
.vote{
    display: flex;
    width: 40%;
    height: 3vh;
    justify-content: space-between;
    line-height: 1px;
}
.vote img{
    width: 20px;
}
.vote p {
    display: flex;
    align-items: center;
}

/*Trailer*/

