.wrapper{
    padding: 1% 3%;
}
.wrapper p{
    width: 100%;
}
.wrapper .listKeyword{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    min-width: 10%;
}
.production_companies{
    width: 100%;
}
.production_companies img{
    width: 100%;
    object-fit: contain;
}
