.slick-track{
    display: flex;
    border: none;
}
.slick-slide{
    border: none;
}
.slick-list{
    display: flex;
}
.slick-next{
    right: 1% !important;
    z-index: 1000;
}
.slick-prev{
    left: 1% !important;
    z-index: 1000;
}