@media only screen and (max-width : 768px){
    .title{
        
    }
}
.trending{
    width: 100%;
    height: auto;
}
.slick{
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 20px;
}
.item{
    width: auto;
    border: none;
    outline: none;
}
.item img{
    width: 100%;
    height: 22vh;
    object-fit: contain;
    border-radius: 20px;
}
.title{
    padding: 5%;
}
.titleFilm{
    color: rgb(255, 255, 255);
}
.release_date{
    color: rgba(255, 255, 255, 0.397);
}
.btn_trailer{
    cursor: pointer;
    width: 5vw;
    height: auto;

}
.titleTrending{
    display: flex;
    align-items: center;
    gap: 1%;
}
.titleTrending button{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 10vw;
    height: 3vh;
    border-radius: 20px;
    cursor: pointer;
    position: relative;
}
.titleTrending button:nth-child(2){
    padding-left: 2vw;
}
.titleTrending button::before{
    content: '';
    position: absolute;
    width: 50%;
    height: 100%;
    inset: 0;
    background-color: aqua;
    border-radius: 20px;
    transition: all 1s ease-in;
}
.titleTrending button p {
    z-index: 1000;
}
.titleTrending button:focus::before{
    transform: translateX(100%);
}
.titleTrending button:focus :nth-child(1){
    color: red;
}