.wrapper{
    width: 50%;
    margin: 0 auto;
}
.wrapper .content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.content .item{
    display: flex;
    flex-direction: column;
    width: 30%;
    justify-content: center;
}
.content .item .poster{
    display: flex;
    align-items: center;
    justify-content: center;
}
.content .item img{
    width: 50%;
}
.content .item .title{
    max-height: 10vh;
    min-height: 10vh;
    max-width: 10vw;
    margin: 0 auto;
    overflow: hidden;
        text-align: center;
}