.top_navigate{
    width: 100%;
}
.top_navigate ul{
    width: 90%;
    display: flex;
    justify-content: center;
    margin: 2vh auto;
    align-items: center;
}
.top_navigate li{
    min-width: 5%;
    width: auto;
    text-decoration: none;
    text-align: center;
}
li::marker{
    content: '';
}
.top_navigate .logo{
    width: 60px;
    border-radius: 5px;
    display: flex;
    align-items: center;
}
.top_navigate input{
    width: 30vw;
    height: 3vh;
    padding-left: 0.1vw;
    border-radius: 5px;
    border: 1px solid transparent;
    outline: none;
}
.top_navigate input:focus{
    border: 1px solid yellow;
}